.header {
  display: flex;
  justify-content: space-between;
	align-items: center;
}

.header__main {
	display: flex;
	align-items: center;
	gap: 25px;
}

.header__secondary {
	display: flex;
	gap: 16px;
}
