.ui-kit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.ui-kit__text-section {
  display: flex;
  flex-direction: column;
  /* gap: 87px; */
  gap: clamp(20px, 5vw, 87px);
}

.ui-kit__text {
  display: flex;
  flex-direction: column;
  gap: clamp(20px, 5vw, 40px);
}

.ui-kit__design-addicted {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-yellow);
  color: var(--color-white);
  font-size: 14px;
  text-transform: uppercase;
  height: 20px;
  width: 136px;
}

.ui-kit__icons {
  display: flex;
  justify-content: center;
  gap: clamp(25px, 6vw, 66px);
  /* flex-wrap: wrap; */
}

.ui-kit__icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 81px;
  text-align: center;
  flex-direction: column;
  font-size: 11px;
  text-transform: uppercase;
}

.ui-kit__image {
  max-width: 728px;
	min-width: 100px;
  max-height: 785px;
	object-fit: contain;
}

@media (max-width: 1097px) {
  .ui-kit__image {
    display: none;
  }
}

@media (max-width: 445px) {
  .ui-kit__icons {
    flex-wrap: wrap;
  }
}
