.landing-pages {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.landing-pages__landings {
  display: grid;
  gap: 78px 48px;
}

.landing-pages__landing_columns-2 {
  justify-content: start;
  grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
  /* columns: 345px; */
}

.landing-pages__landing {
  background-color: var(--color-gray);
  padding: 29px 29px 29px 29px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 17px;
  text-transform: uppercase;
}
