@import "./reset.css";
@import "./color.css";
@import "../../assets/fonts/stylesheet.css";

@import "./typography.css";
@import "./button.css";
@import "./input.css";
@import "./mg-top.css";

@import "./landing-pages.css";

body {
  margin: 20px 3vw;
  box-sizing: border-box;
  font-family: "Jost";
}
