@debug header_module;

// TODO: Сделать адаптив

#header {
  display: flex;
  justify-content: space-between;
  height: 114px;
  font-size: 18px;

  nav {
    display: flex;
    align-items: center;

    &.main {
      gap: 25px;
    }

    &.secondary {
      gap: 16px;
    }
  }
}

#logo {
  align-self: center;
  width: 137px;
  height: 74px;
}
