@debug header_module;

// TODO: Сделать адаптив

header {
  display: flex;
  justify-content: space-between;
  height: 114px;
  font-size: 18px;

  #logo {
    align-self: center;
    width: 137px;
    height: 74px;
  }

  nav {
    display: flex;
    align-items: center;

    &:first-child {
      gap: 25px;
    }

    &:last-child {
      gap: 16px;
    }
  }
}
