$sad: #343434;

@mixin theme($mode) {
  @if $mode == dark {
    background-color: black;
    color: white;
  } @else if $mode == light {
    background-color: white;
    color: black;
  } @else {
    background-color: yellow;
  }
}

@function getSize($multiplier: 1) {
  @return #{$multiplier * 8}px;
}
